<% layout("/layouts/boilerplate") %>

<% if (allListing.length === 0) { %>
    <p class="text-center text-muted">No listings found for "<%= query %>". Try a different search.</p>
<% } %>

<div class="row mt-3">
    <% for (let list of allListing) { %>
        <div class="card listing-card container-fluid " style="width: 20rem;">
            <a href="http://localhost:8080/listings/<%= list._id %>">
                <img src="<%= list.image.url %>" class="card-img-top " alt="Image" style="height: 17rem;">
            </a>
            <div class="card-body">
                <h5 class="card-title"><%= list.name %></h5>
                <p class="card-text"><%= list.location %></p>
                <p class="card-text">₹<%= list.price %></p>
            </div>
        </div>
    <% } %>
</div>
